<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/js.js"></script>
    <link rel="stylesheet" href="styles/main.scss">
</head>
<body>
    <div class="wrapper">
        <div class="grid">
            <div class="grid__item grid__item--1">
                <div class="data data--1" contenteditable>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate est expedita inventore ipsum itaque maxime nesciunt sunt tempore velit!
                </div>
            </div>
            <div class="grid__item grid__item--2">
                <svg class="svg" viewBox="0 0 400 100" preserveAspectRatio="none">
                    <line x1="0" y1="50" x2="400" y2="50" stroke="black" stroke-width="1" />
                    <line x1="0" y1="50" x2="200" y2="100" stroke="black" stroke-width="1" />
                    <line x1="200" y1="100" x2="400" y2="50" stroke="black" stroke-width="1" />
                </svg>
            </div>
            <div class="grid__item grid__item--3">
                <div class="data data--3" contenteditable>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate est expedita inventore ipsum itaque maxime nesciunt sunt tempore velit!
                </div>
            </div>
            <div class="grid__item grid__item--4">
                <svg class="svg" viewBox="0 0 400 100" preserveAspectRatio="none">
                    <line x1="200" y1="0" x2="200" y2="100" stroke="black" stroke-width="1" />
                    <line x1="200" y1="0" x2="400" y2="100" stroke="black" stroke-width="1" />
                    <line x1="200" y1="100" x2="400" y2="50" stroke="black" stroke-width="1" />
                </svg>
            </div>
            <div class="grid__item grid__item--5">
                <svg class="svg" viewBox="0 0 400 100" preserveAspectRatio="none">
                    <line x1="0" y1="50" x2="200" y2="0" stroke="black" stroke-width="1" />
                    <line x1="200" y1="0" x2="400" y2="50" stroke="black" stroke-width="1" />
                </svg>

                <div class="data data--5" contenteditable>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate est expedita inventore ipsum itaque maxime nesciunt sunt tempore velit!
                </div>
            </div>
            <div class="grid__item grid__item--6">
                <svg class="svg" viewBox="0 0 400 100" preserveAspectRatio="none">
                    <line x1="200" y1="0" x2="200" y2="100" stroke="black" stroke-width="1" />
                    <line x1="200" y1="0" x2="0" y2="100" stroke="black" stroke-width="1" />
                    <line x1="0" y1="50" x2="200" y2="100" stroke="black" stroke-width="1" />
                </svg>
            </div>
            <div class="grid__item grid__item--7">
                <div class="data data--7" contenteditable>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate est expedita inventore ipsum itaque maxime nesciunt sunt tempore velit!
                </div>
            </div>
            <div class="grid__item grid__item--8">
                <svg class="svg" viewBox="0 0 400 100" preserveAspectRatio="none">
                    <line x1="200" y1="0" x2="200" y2="100" stroke="black" stroke-width="1" />
                    <line x1="0" y1="0" x2="200" y2="100" stroke="black" stroke-width="1" />
                    <line x1="200" y1="100" x2="400" y2="0" stroke="black" stroke-width="1" />
                </svg>
            </div>
            <div class="grid__item grid__item--9">
                <div class="data data--9" contenteditable>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate est expedita inventore ipsum itaque maxime nesciunt sunt tempore velit!
                </div>
            </div>
            <div class="grid__item grid__item--10"></div>
            <div class="grid__item grid__item--11">
                <div class="data data--11" contenteditable>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate est expedita inventore ipsum itaque maxime nesciunt sunt tempore velit!
                </div>
            </div>
            <div class="grid__item grid__item--12"></div>
        </div>
    </div>
</body>
</html>

